
<% layout("layouts/boilerplate")%>
<div class="row">
    <div class="alert alert-danger col-6 offset-3" style="background-color: grey; margin-top: 3%;
     font-weight: 800;"  role="alert">
        <p><%= err.message %></p>
      </div>
</div>